* {
    margin: 0px;
    padding: 0px;
  }

  #one {
    height: 50px;
    background-color: aqua;
    /* padding: 20px; */
    /* 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
    */
    /* padding: 10px 50px 5px 100px; */
    /* padding: 50px; */
    /* border: 10px solid black; */
    /* margin: 20px; */
    width: 100%;
    padding: 20px;
    border: 5px solid red;
    box-sizing: border-box;
  }

  #two {
    height: 50px;
    background-color: rgb(205, 177, 205);
  }

  #main {
    border: 10px solid black;
    width: 500px;
  }