div {
    background-color: greenyellow;
    height: 100px;
    margin: 10px;
    /* display: inline; */
    display: inline-block;
  }
  span {
    background-color: lightblue;
    height: 100px;
    margin: 10px;
    display: block;
  }